{% extends 'default_template.html' %}

{% block content %}
    <h1>Tipos de Pagamentos</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for payment_type in payment_types %}
                <tr>
                    <td>{{ payment_type.id }}</td>
                    <td>{{ payment_type.name }}</td>
                    <td>
                        <a href="{% url 'edit' id=payment_type.id %}">
                            <button>Editar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}